/*Font Family Files*/
@font-face {
    font-family: DM-Regular;
    src: url(../Fonts/DMSans-Regular.ttf);
}

@font-face {
    font-family: DM-Bold;
    src: url(../Fonts/DMSans-Bold.ttf);
}

@font-face {
    font-family: DM-Medium;
    src: url(../Fonts/DMSans-Medium.ttf);
}


*{
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

img{
    max-width: 100%;
    height: auto;
}

.mycontainer{
    max-width: 1559px;
    margin: 0 auto;
}

#business .mycontainer {
    max-width: 90%;
    margin: 0 0 0 auto;
}

#feature .mycontainer {
    max-width: 90%;
    margin: 0 0 0 auto;
}

/*Main header style*/
#heaer{
    background-color: #000;
}

.myrow{
    display: flex;
    justify-content: space-between;
}
/*Main header style ends*/

/*hero Section Style*/
#hero-sec{
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/davey-gravy-QnVBdXQabdw-unsplash-scaled-e1629991472191.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 720px;
}

.hero-head h2 {
    font-size: 68px;
    color: #fff;
    font-family: DM-Bold;
    padding-top: 100px;
    width: 922px;
}

.hero-head p {
    font-size: 24px;
    color: #fff;
    width: 827px;
    font-family: 'DM-Regular';
    padding-top: 21px;
}

.hero-links a span {
    font-size: 20px;
    color: #fff;
    font-family: 'DM-Regular';
    text-transform: capitalize;
    /* text-decoration: none; */
}

.hero-links a {
    text-decoration: none;
    border-bottom: 1px solid #34B24B;
    padding: 20px 8px 18px 11px;
}

.hero-links .fa-arrow-right {
    color: #fff;
    padding: 0 0px 0 30px;
    font-size: 18px;
}

.hero-links a:nth-child(2) {
    margin: 0 0px 0 55px;
}

.hero-links {
    padding-top: 65px;
}

.hero-panel {
    margin-top: 130px;
}

a.panel-1 {
    background-color: #fff;
    color: #000;
    font-size: 16px;
    text-decoration: none;
    padding: 20px 50px 20px 55px;
    font-family: 'DM-Regular';
    border-radius: 34px 0px 0px 34px;
    text-transform: uppercase;
}

a.panel-2 {
    color: #000;
    background-color: #fff;
    padding: 20px 70px 20px 70px;
    text-decoration: none;
    font-size: 16px;
    text-transform: uppercase;
    font-family: 'DM-Regular';
}

a.panel-3 {
    color: #000;
    background-color: #fff;
    padding: 20px 60px 20px 60px;
    text-decoration: none;
    font-size: 16px;
    text-transform: uppercase;
    font-family: 'DM-Regular';
}

a.panel-4 {
    color: #000;
    background-color: #fff;
    padding: 20px 60px 20px 60px;
    text-decoration: none;
    font-size: 16px;
    text-transform: uppercase;
    font-family: 'DM-Regular';
}

a.panel-5 {
    background-color: #fff;
    color: #000;
    padding: 20px 55px 20px 50px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    font-family: 'DM-Regular';
    border-radius: 0px 34px 34px 0px;
}

/*Wholwsale section style*/

.whole {
    text-align: center;
}

.whole h2 {
    font-size: 70px;
    font-family: 'DM-Bold';
    color: #000;
}

.whole p {
    font-size: 24px;
    font-family: 'DM-Regular';
    color: #000;
    padding: 0 50px;
}

section#wholesale {
    margin: 120px 0px;
}

section#brands {
    margin-bottom: 100px;
}

.brand-head {
    text-align: center;
    margin-top: 100px;
}

.brands-imgs {
    text-align: center;
    padding-top: 30px;
}

.brand-head h4 {
    font-size: 30px;
    text-transform: uppercase;
    font-family: 'DM-Bold';
}

.brands-imgs img {
    padding: 0 25px;
}

/*Supply section style*/
.supply-head {
    text-align: center;
}

.supply-head h4 {
    font-size: 30px;
    font-family: 'DM-Bold';
    text-transform: uppercase;
}

.supply-imgs {
    text-align: center;
}

.supply-imgs img {
    padding: 0 20px;
}

/*support section style*/

.clock {
    text-align: center;
}

.order {
    text-align: center;
}

.location {
    text-align: center;
}

.delivery {
    text-align: center;
}

.clock i {
    font-size: 24px;
    color: #fff;
    background-color: #34B24B;
    padding: 16px;
    border-radius: 36px;
}

.delivery i {
    font-size: 24px;
    color: #fff;
    background-color: #34B24B;
    padding: 16px;
    border-radius: 36px;
}

.location i {
    font-size: 24px;
    color: #fff;
    background-color: #34B24B;
    padding: 16px 20px 16px 20px;
    border-radius: 37px;
}

.order i {
    font-size: 24px;
    color: #fff;
    background-color: #34B24B;
    padding: 16px;
    border-radius: 36px;
}

.clock h5 {
    color: #000;
    font-size: 36px;
    font-family: 'DM-Bold';
    line-height: 42px;
    padding: 18px 0;
}

.delivery h5 {
    color: #000;
    font-size: 36px;
    font-family: 'DM-Bold';
    line-height: 42px;
    padding: 18px 0;
}

.location h5 {
    color: #000;
    font-size: 36px;
    font-family: 'DM-Bold';
    line-height: 42px;
    padding: 18px 0;
}

.order h5 {
    color: #000;
    font-size: 36px;
    font-family: 'DM-Bold';
    line-height: 42px;
    padding: 18px 0;
}

.clock p {
    font-size: 24px;
    color: #000;
    font-family: 'DM-Regular';
}

.delivery p {
    font-size: 24px;
    color: #000;
    font-family: 'DM-Regular';
}

.location p {
    font-size: 24px;
    color: #000;
    font-family: 'DM-Regular';
}

.order p {
    font-size: 24px;
    color: #000;
    font-family: 'DM-Regular';
}

.support-link {
    text-align: center;
    margin: 85px 0 0 0;
}

.support-link a {
    text-decoration: none;
    border-bottom: 1px solid #000;
    padding: 10px 10px 10px 10px;
}

.support-link a span {
    font-size: 20px;
    font-family: 'DM-Bold';
    text-transform: uppercase;
    color: #000;
}

.support-link a i {
    font-size: 20px;
    color: #000;
    padding: 0 0 0 30px;
}

section#supply {
    margin: 100px 0 100px 0;
}

/*vegitable section style*/

section#vegitable {
    margin-bottom: 90px;
}

section#vegitable .main-veg-back {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/catering-food-mini-canape-in-restaurant-e1629992082879.jpeg);
    width: 95%;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 523px;
    border-radius: 20px;
}

.vegi-text h3 {
    font-size: 70px;
    color: #fff;
    font-family: 'DM-Bold';
    padding-bottom: 40px;
}

.vegi-text {
    text-align: center;
    padding: 130px 0 0 0;
}

.vegi-text a {
    background-color: #34B24B;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    font-family: 'DM-Bold';
    padding: 15px 40px 15px 40px;
    border-radius: 38px;
}

footer#main-footer {
    background-color: #000;
    height: 750px;
}

.foot-1 ul {
    list-style: none;
    padding-left: 0px;
    padding-top: 50px;
}

.foot-1 ul li a {
    font-size: 20px;
    text-decoration: none;
    color: #fff;
    font-family: 'DM-Regular';
}

.foot-1 ul li {
    padding: 12px 0;
}

.foot-2 ul {
    list-style: none;
    padding-left: 0px;
    padding-top: 50px;
}

.foot-2 ul li a {
    font-size: 20px;
    text-decoration: none;
    color: #fff;
    font-family: 'DM-Regular';
}

.foot-2 ul li {
    padding: 12px 0;
}

.foot-3 ul {
    list-style: none;
    padding-left: 0px;
    padding-top: 50px;
}

.foot-3 ul li a {
    font-size: 20px;
    text-decoration: none;
    color: #fff;
    font-family: 'DM-Regular';
}

.foot-3 ul li {
    padding: 12px 0;
}

.foot-1 h4 {
    font-size: 20px;
    font-family: 'DM-Bold';
}

.foot-2 h4 {
    font-size: 20px;
    font-family: 'DM-Bold';
}

.foot-3 h4 {
    font-size: 20px;
    font-family: 'DM-Bold';
}

.foot-1 {
    padding-top: 100px;
}

.foot-2 {
    padding-top: 100px;
}

.foot-3 {
    padding-top: 100px;
}

.foot-logo {
    text-align: center;
    padding-top: 50px;
}

.foot-social {
    text-align: center;
    padding-top: 25px;
}

.foot-social a i {
    font-size: 20px;
    color: #34B24B;
    border: 1px solid #000;
    background-color: #242624;
    padding: 19px;
    border-radius: 42px;
}

.foot-social a {
    padding: 0px 10px 0px 10px;
}

/*Feature section style*/

/* .myrow {
    display: flex;
} */

.feature-card-1 {
    flex: 1;
}

.feature-card-2 {
    flex: 1;
    padding: 0 0px 0 0px;
}

.feature-card-3 {
    flex: 1;
}

.card-3-img img {
    height: 550px;
    object-fit: cover;
    width: 560px;
    border-radius: 15px;
}

.card-2-img img {
    height: 550px;
    object-fit: cover;
    width: 560px;
    border-radius: 15px;
}

.card-1-img img {
    height: 550px;
    object-fit: cover;
    width: 560px;
    border-radius: 15px;
}

.feature-head {
    text-align: center;
}

.feature-cat h3 {
    font-size: 30px;
    text-transform: uppercase;
    color: #000;
    font-family: 'DM-Bold';
}

.feature-1-text {
    text-align: center;
    position: relative;
}

.feature-2-text {
    text-align: center;
    position: relative;
}

.feature-3-text {
    text-align: center;
    position: relative;
}

.feature-1-text h5 {
    font-size: 36px;
    color: #fff;
    font-family: 'DM-Bold';
    position: absolute;
    bottom: 35px;
    left: 13rem;
}

.feature-2-text h5 {
    font-size: 36px;
    color: #fff;
    font-family: 'DM-Bold';
    position: absolute;
    bottom: 35px;
    left: 13rem;
}

.feature-3-text h5 {
    font-size: 36px;
    color: #fff;
    font-family: 'DM-Bold';
    position: absolute;
    bottom: 35px;
    left: 14rem;
}

.feature-cat {
    padding-bottom: 50px;
}

.feature-link {
    text-align: end;
    margin: 40px 118px 0 0;
}

/* .slick-slide {
    margin: 0px -33px!important;
} */

.feature-link a {
    text-decoration: none;
    border-bottom: 1px solid #000;
    padding: 10px 10px 10px 10px;
}

.feature-link a span {
    font-size: 20px;
    font-family: 'DM-Bold';
    text-transform: uppercase;
    color: #000;
}

.feature-link a i {
    font-size: 20px;
    color: #000;
    padding: 0 0 0 30px;
}

/*Fresh section style*/

section#fresh {
    background-color: #000;
    width: 95%;
    margin: 17rem auto 10rem auto;
    border-radius: 10px;
    height: 702px;
}

.figure-img {
    position: relative;
    width: 100%;
    min-height: max(36.7vw, 300px);
}

.figure-img span {
    position: absolute;
    bottom: 12%;
    left: 0;
    width: 80%;
    height: auto;
}

.figure-img img {
    position: relative;
    bottom: 0;
    left: 36px;
    width: 100%;
    height: auto;
    z-index: 1;
}

.figure-img span::before {
    content: "";
    position: absolute;
    top: 23px;
    left: 53px;
    width: 102%;
    height: 102%;
    z-index: 1;
    transform-origin: bottom;
    transform: rotate(-4deg) scale(1.1) translateY(3%) translateX(4.5%);
    background: center / contain no-repeat url('../images/download.svg');
    transition: var(--transition-prop);
    transition-delay: 0.5s;
    transition-duration: 0.7s;
}

/* .fresh-1 {
    position: relative;
}

.fresh-1 img::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-image: url('../images/download.svg');
    top: 0;
    left: 0;
}

.fresh-1 img {
    height: 788.94px;
    position: absolute;
    width: 684.94px;
    bottom: -40rem;
    left: 3rem;
} */

.fresh-2 {
    text-align: center;
    margin-top: 8rem;
}

.fresh-2 h3 {
    font-size: 70px;
    font-family: 'DM-Bold';
    color: #fff;
    padding-bottom: 30px;
}

.fresh-2 p {
    color: #fff;
    font-family: 'DM-Regular';
    font-size: 23px;
    padding-bottom: 40px;
}

.fresh-2 a {
    color: #fff;
    font-size: 20px;
    font-family: 'DM-Regular';
    text-decoration: none;
    background-color: #34B24B;
    padding: 12px 40px 12px 40px;
    border-radius: 30px;
}

/*Business section style*/

section#business {
    margin: 100px 0 0 0;
}

.newrow {
    display: flex;
}

.busin-card-1{
    flex: 1;
    text-align: center;
    padding-top: 0px;
}

.busin-card-2{
    flex: 1;
}

.busin-card-3{
    flex: 1;
}

.busin-card-4{
    flex: 1;
}

.busin-2-img img {
    width: 588px;
    height: 600px;
    object-fit: fill;
}

.busin-3-img img {
    width: 588px;
    height: 600px;
    object-fit: fill;
}

.busin-4-img img {
    width: 588px;
    height: 600px;
    object-fit: fill;
}

.busin-2-data {
    position: relative;
}

.busin-2-data h5 {
    font-size: 36px;
    font-family: 'DM-Bold';
    position: absolute;
    bottom: 12px;
    left: 12rem;
    color: #fff;
}

.busin-3-data {
    position: relative;
}

.busin-3-data h5 {
    font-size: 36px;
    font-family: 'DM-Bold';
    position: absolute;
    bottom: 12px;
    left: 160px;
    color: #fff;
}

.busin-4-data {
    position: relative;
}

.busin-4-data h5 {
    font-size: 36px;
    font-family: 'DM-Bold';
    position: absolute;
    bottom: 12px;
    left: 200px;
    color: #fff;
}

.busin-data h4 {
    font-size: 30px;
    color: #000;
    font-family: 'DM-Bold';
    text-transform: uppercase;
    padding-bottom: 20px;
    padding-top: 45px;
}

.busin-data p {
    font-size: 24px;
    color: #000;
    font-family: 'DM-Regular';
    padding: 0 18px 0 18px;
}

.busin-link {
    text-align: center;
    margin: 75px 0 0 0;
}

.busin-link a {
    text-decoration: none;
    border-bottom: 1px solid #000;
    padding: 10px 10px 10px 10px;
}

.busin-link a span {
    font-size: 20px;
    font-family: 'DM-Bold';
    text-transform: uppercase;
    color: #000;
}

.busin-link a i {
    font-size: 20px;
    color: #000;
    padding: 0 0 0 30px;
}

button.pull-left.my-prev.slick-arrow {
    position: relative;
    border: none;
    background: none;
}

button.pull-right.my-next.slick-arrow {
    position: relative;
    border: none;
    background: none;
}

button.pull-left.my-prev.slick-arrow i.fa-solid.fa-arrow-left {
    position: absolute;
    left: 0rem;
    top: 38rem;
}

button.pull-right.my-next.slick-arrow i.fa-solid.fa-arrow-right {
    position: relative;
    left: 38px;
    top: 4rem;
}

button.pull-left.my-prev.slick-arrow i.fa-solid.fa-arrow-left {
    position: absolute;
    left: 0rem;
    font-size: 18px;
    top: 38rem;
    color: #000;
    border: 1px solid #545453;
    border-radius: 35px;
    padding: 15px 15px 15px 15px;
}

button.pull-right.my-next.slick-arrow i.fa-solid.fa-arrow-right {
    font-size: 18px;
    position: relative;
    left: 60px;
    top: 52px;
    color: #000;
    border: 1px solid #545453;
    padding: 15px;
    border-radius: 33px;
}

.busin-testimonials {
    flex: 75%;
}

/*All Hover Effects*/

.hero-links a:hover {
    background-color: #34B24B;
    transition: 0.2s all ease-in;
    /* padding: 0 0 0 30px; */
}

.main-icons a i:hover {
    background-color: #34B24B;
    color: #fff;
    transition: 0.2s all ease-in;
}

li.nav-link-1 a:hover {
    border-bottom: 1px solid #34B24B;
    transition: 0.4s ease;
}

li.nav-link-2 a:hover {
    border-bottom: 1px solid #34B24B;
    transition: 0.4s ease-in-out;
}

li.nav-link-3 a:hover {
    border-bottom: 1px solid #34B24B;
    transition: 0.4s ease-in-out;
}

li.navs2-link-1 a:hover {
    color: #fff;
    border-bottom: 1px solid #34B24B;
    transition: 0.4s all ease-in-out;
}

li.navs2-link-2 a:hover {
    color: #fff;
    border-bottom: 1px solid #34B24B;
    transition: 0.4s all ease-in-out;
}

.contact-main a:hover {
    color: #34B24B;
    transition: 0.3s all ease-in;
}

a.panel-1:hover {
    background-color: #34B24B;
    color: #000;
    transition: 0.3s all ease-in;
    border: none;
}

a.panel-2:hover {
    background-color: #34B24B;
    color: #000;
    transition: 0.3s all ease-in;
    border: none;
}

a.panel-3:hover {
    background-color: #34B24B;
    color: #000;
    transition: 0.3s all ease-in;
    border: none;
}

a.panel-4:hover {
    background-color: #34B24B;
    color: #000;
    transition: 0.3s all ease-in;
    border: none;
}

a.panel-5:hover {
    background-color: #34B24B;
    color: #000;
    transition: 0.3s all ease-in;
    border: none;
}

.vegi-text a:hover {
    background-color: #000;
    color: #fff;
    transition: 0.3s all ease-in;
}

.fresh-2 a:hover {
    background-color: transparent;
    border: 1px solid #34B24B;
    color: #fff;
    transition: 0.3s all ease-in;
}

.foot-social a i:hover {
    color: #fff;
    background-color: #34B24B;
    transition: 0.3s all ease-in;
}

.foot-logo img {
    cursor: pointer;
}

.foot-1 li a:hover {
    color: #34B24B;
    transition: 0.3s all ease;
}

.foot-2 li a:hover {
    color: #34B24B;
    transition: 0.3s all ease;
}

.foot-3 li a:hover {
    color: #34B24B;
    transition: 0.3s all ease;
}

.feature-link a:hover{
    background-color: #000;
}

.feature-link a:hover span, .feature-link a:hover i {
    color: white;
    /* background-color: #000; */
    transition: 0.3s all ease;
}

.busin-link a:hover{
    background-color: #000;
}

.busin-link a:hover span, .busin-link a:hover i {
    color: white;
    /* background-color: #000; */
    transition: 0.3s all ease;
}

.support-link a:hover{
    background-color: #000;
}

.support-link a:hover span, .support-link a:hover i {
    color: white;
    /* background-color: #000; */
    transition: 0.3s all ease;
}

.busin-data {
    text-align: center;
    margin-top: 80px;
}

button.pull-left.busin-prev.slick-arrow {
    border: none;
    background: none;
    position: relative;
}

button.pull-right.busin-next.slick-arrow {
    border: none;
    background: none;
    position: relative;
}

button.pull-left.busin-prev.slick-arrow i {
    position: absolute;
    top: 12px;
    right: 18rem;
    color: #000;
    padding: 15px;
    font-size: 18px;
    border: 1px solid #545453;
    border-radius: 33px;
}

button.pull-right.busin-next.slick-arrow i {
    position: absolute;
    right: 14rem;
    bottom: 35.1rem;
    font-size: 18px;
    color: #000;
    border: 1px solid #545453;
    padding: 15px;
    border-radius: 34px;
}

.slick-dots {
    position: absolute;
    bottom: 115px;
    /* display: block; */
    width: 100%;
    padding: 0;
    margin: 0;
    /* list-style: none; */
    left: 66rem;
    text-align: center;
}

.slick-dots li button:before {
    font-family: slick;
    font-size: 21px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    content: '•';
    text-align: center;
    opacity: .25;
    color: #000;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-dots {
    position: absolute;
    display: flex;
    bottom: -25px;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    display: flex!important;
    flex-direction: column;
}

.slick-dots li button:before {
    font-family: slick;
    font-size: 16px!important;
    line-height: 20px;
    color: #fff!important;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    content: '•';
    text-align: center;
    opacity: .25;
    color: #000;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-dots {
    position: absolute;
    bottom: 85px!important;
    display: block;
    left: 95rem;
    width: 0%!important;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}

.slick-dots li {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 20px 0px!important;
    cursor: pointer;
}



